@model IEnumerable<ColegioSanJose.Models.Expediente>

@{
    ViewData["Title"] = "Expedientes";
}

<h1>Expedientes Alumnos</h1>

<p>
    <a asp-action="Create">Registrar nuevo expediente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                Alumno
            </th>
            <th>
                Materia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Alumno.Nombre) @Html.DisplayFor(modelItem => item.Alumno.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.NombreMateria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExpedienteId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ExpedienteId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ExpedienteId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
